---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const {
  entry: {
    data: { title, description, date, draft },
    render,
  },
} = Astro.props;

const { Content } = await render();
---

<Layout frontmatter={{ title, description }}>
  <!-- TODO: Make this UI mobile compatible -->
  <!-- TODO: Quick way to go home -->
  <div class="flex justify-between">
    <a href="/blog" class="hover:opacity-75 no-underline">
      <h1 class="!mb-0">Oscar's Blog</h1>
    </a>
  </div>
  <div class="border-b-2 border-gray-400/25">
    <h2 class="!mt-4 !mb-0 font-semibold">{title}</h2>
    <p class="!m-0">{description}</p>
    <p class="!m-0">Published on: {date.toDateString()}</p>
  </div>

  {
    draft === true ? (
      <div class="absolute top-0 left-0 text-red-500" role="alert">
        You are currently viewing a draft!
      </div>
    ) : null
  }

  <Content />
</Layout>
