<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        <img src="data:image/gif;base64,{{ readFile "/themes/otbeaumont/assets/loading.gif" | base64Encode }}" alt="Dog Gif Loading..." id="dog-gif" class="me dog-gif"></img>
        <div class="info">
            <h1 class="title">404: Not Found</h1>
            <p class="about">The resouce you requested could not be found, instead please enjoy this random dog gif courtesy of <a href="https://thedogapi.com" rel="external nofollow noopener noreferrer" target="_blank">TheDogAPI</a>.</p>
        </div>
    </main>

    {{ with resources.Get "js/404-gifloader.js" | resources.ExecuteAsTemplate "404-gifloader.js" . | resources.Minify | resources.Fingerprint "sha512" }}
        <script type="text/javascript" src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{ end }}
    {{ partial "analytics.html" . }}
</body>
</html>