@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  font-family: "Raleway";
}

dfn::before {
  content: attr(title);
  padding: 0 0 1em;
}
dfn button {
  display: none;
  position: absolute;
  @apply text-black rounded-md backdrop-opacity-75 backdrop-contrast-200 backdrop-blur-2xl;
}
dfn:hover button,
dfn:focus button {
  display: block;
}
