---
import BaseLayout from "../layouts/Layout.astro";
import InlineImage from "../utils/InlineImage";

const meJpg = await InlineImage("./public/assets/me.jpg");
---

<BaseLayout>
  <div class="md:flex px-6">
    <div class="py-5 pr-5">
      <h3 class="text-4xl pb-4">Hi, I'm Oscar</h3>
      <p class="text-xl">
        I'm a software developer based in Perth, Australia. I have a huge
        passion for technology and enjoy everything from systems administration
        through to software development. I am self-taught and love creating
        solutions to help people use technology effectively.
      </p>
      <p class="text-xl py-2">
        I am currently studying Computer Science at Curtin University and
        working on a mobile device management platform called <a
          href="https://mattrax.app"
          target="_blank"
          rel="noopener"
          class="text-green-500">Mattrax</a
        > in my spare time.
      </p>
      <p class="text-xl py-2">
        I am available for hire if you have an idea you would like to bring into
        reality so feel free to reach out.
      </p>
    </div>
    <img
      src={meJpg}
      alt="Oscar Beaumont"
      class="mx-auto md:mx-0 my-4 md:my-0 w-full max-w-xs object-top object-scale-down"
    />
  </div>
</BaseLayout>
