---
import { CaptureAsPdf } from "../components/Invoicer";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Invoicer</title>
  </head>
  <body>
    <div id="document" class="flex flex-col">
      <div
        class="h-1/5 w-full bg-[#1f65a6] text-white flex justify-between p-8"
      >
        <div>
          TODO: Logo
          <h1 class="font-bold text-5xl">Tax Invoice</h1>
        </div>

        <div class="flex flex-col space-y-[2px] justify-center items-end">
          <h1 class="text-2xl font-bold">BEAUMONT, OSCAR THOMAS</h1>
          <p class="text-md pt-[2px] font-light">oscar@otbeaumont.me</p>
          <p class="text-md font-light">ABN 97 277 414 018</p>
        </div>
      </div>
      <div class="w-full h-2/5">
        <div class="flex justify-between p-8">
          <div class="flex flex-col space-y-1">
            <p class="font-bold">BILL TO:</p>
            <p class="text-xl font-bold">A software company</p>
            <div>
              <p>ABN: 00 000 000 000</p>
              <p>00 Road St, Suburb AA 0000</p>
              <p>employer@example.com</p>
              <p>https://example.com</p>
            </div>
          </div>
          <div class="flex flex-col space-y-1 text-end">
            <div>
              <p class="font-bold">INVOICE #</p>
              <p>0000</p>
            </div>
            <div>
              <p class="font-bold">DATE</p>
              <p>29/11/2021</p>
            </div>
            <div>
              <p class="font-bold">INVOICE DUE DATE</p>
              <p>29/11/2021</p>
            </div>
          </div>
        </div>

        <div class="h-1 w-full bg-gray-200"></div>

        <div class="p-4 pt-10 w-full space-x-2">
          <table class="w-full">
            <tr class="w-full flex space-x-4">
              <th class="w-full text-start">DESCRIPTION</th>
              <th class="w-20 text-start">HOURS</th>
              <th class="w-20 text-start">HOURLY</th>
              <th class="w-20 text-start">TOTAL</th>
            </tr>
            <tr class="w-full flex space-x-4 pt-2 rtex">
              <td class="w-full text-start"
                >Development of world-class nuclear weapons</td
              >
              <td class="w-20 text-end">5</td>
              <td class="w-20 text-end">$70.00</td>
              <td class="w-20 text-end">$350.00</td>
            </tr>
            <tr class="w-full flex space-x-4 pt-2">
              <td class="w-full text-start"
                >Touch the most grassy grass that has ever grassed on this
                planet</td
              >
              <td class="w-20 text-end">5</td>
              <td class="w-20 text-end">$70.00</td>
              <td class="w-20 text-end">$350.00</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="h-2/5 bg-blue-100 flex justify-between">
        <div class="w-2/3 py-20 px-8 text-xl font-light">
          <p class="font-bold">NOTES:</p>
          <p>
            Payment to be done via PayPal and transferred to the email
            <span class="text-blue-700">oscar@otbeaumont.me</span>.
          </p>

          <p class="pt-8">Thank you,</p>
          <p>It's been a pleasure working with you.</p>
        </div>

        <div
          class="bg-[#1f65a6] text-white flex flex-col items-end justify-center py-8 px-4 text-end"
        >
          <p class="font-bold text-xl tracking-wide">TOTAL</p>
          <p class="-mt-3 font-bold text-[40px] tracking-tight text-nowrap">
            USD $4000.00
          </p>
        </div>
      </div>
    </div>

    <CaptureAsPdf client:only="solid" />
  </body>
</html>
