---
import { Root } from "../components/invoicer";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Invoicer</title>
  </head>
  <body>
    <Root client:only="solid" />
  </body>
</html>
