---
  import BaseLayout from '../layouts/BaseLayout.astro';
  import config from '../config';
---
<BaseLayout title="Portfolio">
  <div class="py-10 px-5">
    <h3 class="text-4xl pb-4">My Skills</h3>

    {Object.keys(config.skills).map(skillCategory => (
      <div class="pb-4">
        <h5 class="text-xl">{skillCategory}:</h5>
        <ul class="list-disc ml-6 mb-2">
          {Object.keys(config.skills[skillCategory]).map(name => (
            <li><a href={config.skills[skillCategory][name]} target="_blank" rel="noreferrer" class={config.skills[skillCategory][name] ? "text-green-500" : ""}>{name}</a></li>
          ))}
        </ul>
      </div>
    ))}

    <p class="text-lg py-2">These are some of my current skills. I enjoy learning new technologies and different approaches to software development which help to improve the developer experience and final product. To check out my skills in action look at my <a href="https://github.com/oscartbeaumont" target="_blank" rel="noopener" class="text-green-500">GitHub</a>.</p>
  </div>
</BaseLayout>