<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        <img src="/assets/me2.jpg" alt="Oscar Beaumont" class="me"></img>
        <div class="info">
            <h1 class="title">Contact Me</h1>
            <p class="about">If you are interested in working together on a project or getting in contact me with me about one of my projects please feel free to contact me via my email below. For questions relating to my open-source projects please be aware I want to help you but I don't have unlimited time, so please include a detailed summary of the problem, if relevant code & commands to reproduce it and the things you have tried already so it is easy for me to help you. There is a good video <a href="https://www.youtube.com/watch?v=53zkBvL4ZB4" rel="external nofollow noopener noreferrer" target="_blank">here</a> which talks about asking technical questions.</p>
            <div>
                <a href="mailto:oscar@otbeaumont.me"><p class="email">oscar@otbeaumont.me</p></a>
            </div>
        </div>
    </main>

    {{ partial "analytics.html" . }}
</body>
</html>
