@import "tailwindcss";

@theme {
	@keyframes fadeIn {
		from {
			transform: translateY(5%);
			opacity: 0;
		}

		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

@custom-variant dark (&:where(
		[data-kb-theme="dark"],
		[data-kb-theme="dark"] *
	));
